<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'" />
<p th:text="'Hello, ' + ${user.getPhone()} + '!'" />
<p th:text="'You ' + ${cating} + '...'" >
   <div>
    <a href="/getGet">ССылка</a>
    <p>http://localhost:1050/get_user </p>
<button href></button>
</div>
<p th:text="'You ' + ${cating} + '...'" >
<p th:text="'Random namber = ' + ${number} + '!'">
</body>
</html>
